{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load account %}
{% load allauth %}
{% block head_title %}
    {% trans "Confirm Email Address" %}
{% endblock head_title %}
{% block content %}

    <style>
        body {
            background-color: #121212;
            color: #ffffff;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 500px;
            margin: 50px auto;
            padding: 30px;
            background-color: #333333;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        }

        h1 {
            color: #2196f3;
            margin-bottom: 20px;
            text-align: center;
        }

        p {
            color: #ffffff;
            margin-bottom: 20px;
            margin-left: 470px;
        }



        form {
            max-width: 400px;
            margin: 0 auto;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            background-color: #343a40;
            color: #ffffff;
            border: 1px solid #61dafb;
            border-radius: 4px;
        }

        .form-control:focus {
            background-color: #454d55;
            color: #ffffff;
            border: 1px solid #61dafb;
            box-shadow: none;
        }

        button[type="submit"] {
            background-color: #007bff;
            border: none;
            width: 100%;
            padding: 10px;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
            border: none;
        }

        div {
            text-align: center;
        }

        a {
            color: #61dafb;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        a:hover {
            text-decoration: underline;
            color: #42a5f5;
        }

        li {
            display: inline-block;
            margin-bottom: 30px;
            margin-right: 20px;
        }

        ul {
            display: none;
        }
        strong { 
            display: none;
        }
    </style>

    {% element h1 %}
        {% trans "Confirm Email Address" %}
    {% endelement %}
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        {% if can_confirm %}
            <p>
                {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}
            </p>
            {% url 'account_confirm_email' confirmation.key as action_url %}
            {% element form method="post" action=action_url %}
                {% slot actions %}
                    {% csrf_token %}
                    {% element button type="submit" %}
                        {% trans 'Confirm' %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        {% else %}
            <p>
                {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}
            </p>
        {% endif %}
    {% else %}
        {% url 'account_email' as email_url %}
        <p>
            {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}
        </p>
    {% endif %}
{% endblock content %}