{% load static %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        {% block chart_js %}{% endblock %}
        {% block styles %}{% endblock %}

        <title>{% block title %}Dashboard{% endblock %}</title>
    </head>

    <body>
        <!--=============== NAV ===============-->
        <div class="nav" id="nav">
            <nav class="nav__content">
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-chevron-right' ></i>
                </div>
    
                <a href="#" class="nav__logo">
                    <i class='bx bx-book-open'></i>
                    <span class="nav__logo-name">StudySwift</span>
                </a>
    
                <div class="nav__list">
                    <a href="{% url 'dashboard' %}" class="nav__link active-link">
                        <i class='bx bx-grid-alt'></i>
                        <span class="nav__name">Dashboard</span>
                    </a>
    
                    <a href="#" class="nav__link">
                        <i class='bx bx-calendar'></i>
                        <span class="nav__name">Timetable</span>
                    </a>
    
                    <a href="{% url 'manage_homework' %}" class="nav__link">
                        <i class='bx bx-task' ></i>
                        <span class="nav__name">Tasks</span>
                    </a>
    
                    <a href="{% url 'base_class' %}" class="nav__link">
                        <i class='bx bx-bar-chart-square' ></i>
                        <span class="nav__name">Classes</span>
                    </a>

                    <a href="{% url 'self_rev' %}" class="nav__link">
                        <i class='bx bx-book-alt'></i>
                        <span class="nav__name">Self-Rev</span>
                    </a>

                    <a href="{% url 'studybot' %}" class="nav__link">
                        <i class='bx bxs-ghost' ></i>
                        <span class="nav__name">StudyBot</span>
                    </a>

                    <a href="{% url 'rewards_view' %}" class="nav__link">
                        <i class='bx bxs-award'></i>
                        <span class="nav__name">Rewards</span>
                    </a>
    
                    <a href="{% url 'update_profile' %}" class="nav__link">
                        <i class='bx bx-cog' ></i>
                        <span class="nav__name">Settings</span>
                    </a>
                </div>
            </nav>
        </div>

        <!--=============== MAIN ===============-->
        <main class="container section">
            {% block content %}{% endblock %}

        </main>

        <!--=============== MAIN JS ===============-->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>