{% extends 'application/teacher_dashboard.html' %}

{% block content %}

  <h1>Dashboard</h1>
  {% include "messages.html" %}


    <!-- User Profile Section -->
    <div class="dashboard-card">
      <h2 class="black-colour">Your Profile</h2>
      <div class="profile-section">
        <div class="greeting-message">
          <p>Hey {{ user.username }}!</p>
        </div>
        <div class="profile-picture">
          {% if user.userprofile.profile_picture %}
            <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture">
          {% else %}
            <div class="no-profile-picture"></div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block chart_js %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block styles %}
  <style>
    /* Add or adjust styles as needed */
    .dashboard-sections {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .dashboard-card {
      width: 30%; /* Adjust the width as needed */
      margin: 20px;
      padding: 20px;
      float: right;
      border-radius: 8px;
      background-color: #c21e1b;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .greeting-message {
      margin-bottom: 20px;
      color: rgb(0, 0, 0);
    }

    .black-colour {
      color: rgb(0, 0, 0);
    }

    .profile-picture {
      width: 100%; /* Adjust the size as needed */
      height: 400px;
      overflow: hidden;
      border-radius: 800px;
      border: 2px solid #000000; /* Optional: add a border */
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Optional: add a box shadow */
    }

    .profile-picture img {
      width: 100%;
      height: auto;
      display: block;
    }

    .no-profile-picture {
      width: 100%;
      height: 100%;
      background-color: #ddd; /* Optional: add a background color for the placeholder */
    }

  </style>
{% endblock %}

