{% extends 'application/teacher_dashboard.html' %}
{% block content %}
  <style>
    .class-container {
        margin-bottom: 20px;
        margin-right: 300px;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
    }
    .class-header {
        font-size: 20px;
        font-weight: bold;
    }
    .teacher-student-list {
        padding-left: 20px;
    }
</style>
  <h1>Dashboard</h1>
  {% include "messages.html" %}
    <!-- User Profile Section -->
    <div class="dashboard-card">
      <h2 class="black-colour">Your Profile</h2>
      <div class="profile-section">
        <div class="greeting-message">
          <p>Hey {{ user.username }}!</p>
        </div>
        <div class="profile-picture">
          {% if user.userprofile.profile_picture %}
            <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture">
          {% else %}
            <div class="no-profile-picture"></div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="dashboard-card-blue">
      <h2 class="black-colour">Welcome {{ user.username }}!</h2>
      <div class="profile-section">
        <div class="greeting-message">
          <p>
            Below are your classes:
          </p>

          <div class="row">
            {% for school_class in classes %}
            <div class="col-md-6">
                  <div class="teacher-student-list">
                      <p>Class Name: {{school_class.name}}</p>
                      <p>Students:</p>
                      <ul>
                          {% for student in school_class.students.all %}
                              <li>{{ student.username }}</li>
                          {% endfor %}
                      </ul>
                  </div>
            </div>
            {% endfor %}
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block chart_js %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block styles %}
  <style>
    .dashboard-sections {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .dashboard-card {
      width: 45%;
      margin: 20px;
      padding: 20px;
      float: left;
      border-radius: 8px;
      background-color: #c21e1b;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .dashboard-card-blue {
      width: 45%;
      margin: 20px;
      padding: 20px;
      float: left;
      border-radius: 8px;
      background-color: #2a75a4;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .greeting-message {
      margin-bottom: 20px;
      color: rgb(0, 0, 0);
    }
    .black-colour {
      color: rgb(0, 0, 0);
    }
    .profile-picture {
      width: 100%;
      height: 400px;
      overflow: hidden;
      border-radius: 800px;
      border: 2px solid #000000;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    .profile-picture img {
      width: 100%;
      height: auto;
      display: block;
    }
    .no-profile-picture {
      width: 100%;
      height: 100%;
      background-color: #ddd;
    }
  </style>
{% endblock %}