{% load static %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

        <title>Dashboard</title>
    </head>
    <body>
        <!--=============== NAV ===============-->
        <div class="nav" id="nav">
            <nav class="nav__content">
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-chevron-right' ></i>
                </div>
    
                <a href="#" class="nav__logo">
                    <i class='bx bx-book-open'></i>
                    <span class="nav__logo-name">StudySwift</span>
                </a>
    
                <div class="nav__list">
                    <a href="#" class="nav__link active-link">
                        <i class='bx bx-grid-alt'></i>
                        <span class="nav__name">Dashboard</span>
                    </a>
    
                    <a href="#" class="nav__link">
                        <i class='bx bx-calendar'></i>
                        <span class="nav__name">Timetable</span>
                    </a>
    
                    <a href="#" class="nav__link">
                        <i class='bx bx-task' ></i>
                        <span class="nav__name">Tasks</span>
                    </a>
    
                    <a href="{% url 'base_class' %}" class="nav__link">
                        <i class='bx bx-bar-chart-square' ></i>
                        <span class="nav__name">Classes</span>
                    </a>                
    
                    <a href="{% url 'account_logout' %}" class="nav__link">
                        <i class='bx bx-cog' ></i>
                        <span class="nav__name">Settings</span>
                    </a>
                </div>
            </nav>
        </div>

        <!--=============== MAIN ===============-->
        <main class="container section">
            <h1>Welcome to Teacher Dashboard</h1>
        </main>

        <!--=============== MAIN JS ===============-->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>