{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'info' %}alert-info{% else %}alert-secondary{% endif %} alert-dismissible fade show" role="alert">
                {% if message.tags == 'success' %}
                    <i class="bi bi-check-circle-fill"></i>
                {% elif message.tags == 'error' %}
                    <i class="bi bi-x-circle-fill"></i>
                {% else %}
                {% endif %}
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

